asgiref==3.2.3
certifi==2019.11.28
chardet==3.0.4
Django==3.0.1
django-debug-toolbar
django-environ
django-storages[google]
google-auth
google-cloud-logging
google-cloud-storage
google-cloud-secret-manager
idna==2.8
mysqlclient==1.4.6
oauthlib==3.1.0
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.3.0
sqlparse==0.3.0
urllib3==1.25.7
